tr{
  display: inline-block;
}
tr:first-child{
  margin-left: 10px;
}
td{
  min-width: 240px;
  display: inline-block;
  text-align: center;
}
th{
  min-width: 240px;
  text-align: center;
}
.card-resp{
  width: 100%;
}
.card-header{
  text-align: center;
}
