<app-menu></app-menu>
<body>
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Estadisticas gimnasio </h2>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="ecommerce-widget">

                        <div class="row">
                            <!-- ============================================================== -->
                            <!-- sales  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="card border-3 border-top border-top-primary">
                                    <div class="card-body">
                                        <h5 class="text-muted">Clientes activos</h5>
                                        <div class="metric-value d-inline-block" *ngFor="let data of estadisticasData | keyvalue">
                                            <h1 class="mb-1" *ngIf="data.key === 'activos'">{{data.value}}</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end sales  -->
                            <!-- ============================================================== -->
                            <!-- ============================================================== -->
                            <!-- new customer  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="card border-3 border-top border-top-primary">
                                    <div class="card-body">
                                        <h5 class="text-muted">Facturacion</h5>
                                        <div class="metric-value d-inline-block" *ngFor="let data of estadisticasData | keyvalue">
                                            <h1 class="mb-1" *ngIf="data.key === 'facturacion'">{{data.value}}€</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end new customer  -->
                            <!-- ============================================================== -->
                            <!-- ============================================================== -->
                            <!-- visitor  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="card border-3 border-top border-top-primary">
                                    <div class="card-body">
                                        <h5 class="text-muted">Gastos infraestructura</h5>
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1">0</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end visitor  -->
                            <!-- ============================================================== -->
                            <!-- ============================================================== -->
                            <!-- total orders  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="card border-3 border-top border-top-primary">
                                    <div class="card-body">
                                        <h5 class="text-muted">Gastos sueldo personal</h5>
                                        <div class="metric-value d-inline-block" *ngFor="let data of estadisticasData | keyvalue">
                                            <h1 class="mb-1" *ngIf="data.key === 'gastos'">{{data.value | number}}€</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end total orders  -->
                            <!-- ============================================================== -->
                        </div>

                        <div class="row">
                            <!-- ============================================================== -->

                            <!-- ============================================================== -->

                                          <!-- recent orders  -->
                            <!-- ============================================================== -->
                            <div class="card-resp">
                                <div class="card">
                                    <h5 class="card-header">Ultimos clientes</h5>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="border-0">Fecha alta</th>
                                                        <th class="border-0">Nombre cliente</th>
                                                        <th class="border-0">Estado</th>
                                                        <th class="border-0">Tarifa</th>
                                                        <th class="border-0">Telefono</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <div *ngFor="let cliente of lastUsers | keyvalue" class="memberLast">
                                                        <tr *ngFor="let matricula of cliente.value | keyvalue">
                                                          <td *ngIf="matricula.key === 'nombre'">{{matricula.value}}</td>
                                                          <td *ngIf="matricula.key === 'tarifa'">{{matricula.value}}</td>
                                                          <td *ngIf="matricula.key === 'fecha'">{{matricula.value}}</td>
                                                          <td *ngIf="matricula.key === 'telefono'">{{matricula.value}}</td>
                                                          <td *ngIf="matricula.key === 'status'">
                                                            <div *ngIf="matricula.value == true; else noPagado">
                                                              <span class="badge-dot badge-success mr-1"></span>PAGADO
                                                            </div>
                                                            <ng-template #noPagado>
                                                              <span class="badge-dot badge-danger mr-1"></span>NO PAGADO
                                                            </ng-template>
                                                          </td>

                                                        </tr>

                                                    </div>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">Altas por tarifas</h5>
                                    <div class="card-body">
                                      <div style="display: block;">
                                        <canvas baseChart
                                          [data]="pieChartData"
                                          [labels]="pieChartLabels"
                                          [chartType]="pieChartType"
                                          [options]="pieChartOptions"
                                          [plugins]="pieChartPlugins"
                                          [legend]="pieChartLegend">
                                        </canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end category revenue  -->
                            <!-- ============================================================== -->

                            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">Clientes totales</h5>
                                    <div class="card-body">
                                      <div style="display: block;">
                                        <canvas baseChart width="400" height="300"
                                          [datasets]="lineChartData"
                                          [labels]="lineChartLabels"
                                          [options]="lineChartOptions"
                                          [colors]="lineChartColors"
                                          [legend]="lineChartLegend"
                                          [chartType]="lineChartType"
                                          [plugins]="lineChartPlugins">
                                        </canvas>
                                      </div>
                                    </div>
                                    <div class="card-footer">
                                        <p class="display-7 font-weight-bold" *ngFor="let data of estadisticasData | keyvalue">
                                            <span class="text-primary d-inline-block" *ngIf="data.key === 'activos'">Actualmente activos:{{data.value}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                             2020 <a href="https://muldev.dev">muldev.dev</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
